<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jopemachine.alfredkakaotalkworkflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5B981CC1-16BA-457D-9C97-338AD34410C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>944B52E4-C7F4-46FF-ABD3-51BEDFD8F36D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E3E059E-6674-4F18-8216-49D1A6AF475C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADBA967D-9E51-49C5-9193-0831E89373CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5DDF7A8-B88E-452F-A6FC-E130CD73260C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0BDF49C-610D-4180-B29E-230E7EEE904F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADBA967D-9E51-49C5-9193-0831E89373CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DEC50BA-636B-4F2A-A8E0-5D352A288A6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCE0A7B5-37D6-4CCC-8863-E49722112D90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF87D26C-C1F9-4E7A-8E5A-B02229511CA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F770BEC0-5279-43F0-AA6C-F95D64553B27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CBCF6BC-1B97-46CF-886A-6D322A58AEB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB834B48-30B9-4876-95E8-0E4CC17F2511</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>112C223A-1F87-4149-932A-F548C308D3B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jopemachine</string>
	<key>description</key>
	<string>Kakaotalk workflow for Alfred 4</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-kakaotalk-workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kaa</string>
				<key>subtext</key>
				<string>알람 설정을 토글합니다.</string>
				<key>text</key>
				<string>카카오톡 알람 설정 변경</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B981CC1-16BA-457D-9C97-338AD34410C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript toggleAlert.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>944B52E4-C7F4-46FF-ABD3-51BEDFD8F36D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript openConfig.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6CBCF6BC-1B97-46CF-886A-6D322A58AEB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kaconf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>카카오톡 설정 열기</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F770BEC0-5279-43F0-AA6C-F95D64553B27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kak</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node filterChattingRoomCache.js '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>카카오 톡에서 검색 후 바로 채팅방을 엽니다.</string>
				<key>title</key>
				<string>kak</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB834B48-30B9-4876-95E8-0E4CC17F2511</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript openChattingRoom.scpt '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>112C223A-1F87-4149-932A-F548C308D3B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript cacheChattingRooms.scpt {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADBA967D-9E51-49C5-9193-0831E89373CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Cache saved successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3DEC50BA-636B-4F2A-A8E0-5D352A288A6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kacache</string>
				<key>subtext</key>
				<string>카카오 톡을 연 후 채팅방 목록을 캐싱합니다.</string>
				<key>text</key>
				<string>kacache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E3E059E-6674-4F18-8216-49D1A6AF475C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript openCalendar.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF87D26C-C1F9-4E7A-8E5A-B02229511CA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kacal</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>카카오톡 캘린더 열기</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCE0A7B5-37D6-4CCC-8863-E49722112D90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript lock.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0BDF49C-610D-4180-B29E-230E7EEE904F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kalock</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>카카오톡 잠금</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5DDF7A8-B88E-452F-A6FC-E130CD73260C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Evernote workflow for Alfred 4

https://github.com/jopemachine/alfred-kakaotalk-workflow</string>
	<key>uidata</key>
	<dict>
		<key>112C223A-1F87-4149-932A-F548C308D3B4</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>3DEC50BA-636B-4F2A-A8E0-5D352A288A6C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>5B981CC1-16BA-457D-9C97-338AD34410C7</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>6CBCF6BC-1B97-46CF-886A-6D322A58AEB6</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6E3E059E-6674-4F18-8216-49D1A6AF475C</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>944B52E4-C7F4-46FF-ABD3-51BEDFD8F36D</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>A5DDF7A8-B88E-452F-A6FC-E130CD73260C</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>ADBA967D-9E51-49C5-9193-0831E89373CE</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>BCE0A7B5-37D6-4CCC-8863-E49722112D90</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>CF87D26C-C1F9-4E7A-8E5A-B02229511CA5</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>E0BDF49C-610D-4180-B29E-230E7EEE904F</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>F770BEC0-5279-43F0-AA6C-F95D64553B27</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>FB834B48-30B9-4876-95E8-0E4CC17F2511</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.5</string>
	<key>webaddress</key>
	<string>https://github.com/jopemachine/alfred-kakaotalk-workflow</string>
</dict>
</plist>
